
.App {
display: grid;

}



.main{
  width: 80%;
  margin:90px auto;

}


.break{
  margin-top: 50px;
  grid-area: break;
}

.session{
  margin-top: 50px;
  grid-area:session
}

.reset{
  margin-top: 25px;
  grid-area:reset;
  width:70px;
}